---
const { img, title, text, url } = Astro.props;
---

<!-- <div class="grid">
  <img src={img} alt="" />

  <div class="text">
    <h5>{title}</h5>
    <p>{text}</p>
    <a href={url}>gå til side</a>
  </div>
</div> -->
<div class="grid">
  <div class="text">
    <h5>{title}</h5>
    <p>{text}</p>
    <a href={url}>gå til side</a>
  </div>
  <div class="cirkel">
    <img src={img} alt="" />
  </div>
</div>
<style>
  .cirkel {
    justify-self: end;
    aspect-ratio: 1/1;
  }
  img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    align-self: end;
    place-self: end;
    justify-self: end;
  }
  .grid {
    border-radius: 2rem;
    /* padding: 2rem 2rem 1rem 2rem; */
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* grid-template-rows: repeat(2, auto); */
    background: var(--farve-7);

    .text {
      color: var(--sort);
      --flow-space: 0.8rem;
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      > * + * {
        margin-block-start: var(--flow-space, 1em);
        --flow-space: 0.8rem;
      }

      > a {
        /* justify-self: end;
        place-self: end; */
      }
    }
  }
  h5 {
    color: var(--sort);
    font-family: Helvetica;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  /* p {
    color: var(--sort);
    font-family: Helvetica;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  } */
  a {
    /* place-self: end; */
    list-style: none;
    color: var(--farve-8);
    font-family: Helvetica;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }
</style>
