---
import { Image } from "astro:assets";
import Jegeronee from "../assets/images/jegeronee.jpg";
import Jeger2 from "../assets/images/jeger2.jpeg";
import Jeger3 from "../assets/images/jeger3.jpeg";
import Jeger4 from "../assets/images/jeger4.png";
import Jeger5 from "../assets/images/jeger5.jpeg";
import Jeger6 from "../assets/images/jeger6.jpeg";
import Jeger7 from "../assets/images/jeger7.jpeg";
import Jeger8 from "../assets/images/jeger8.jpeg";
import Jeger9 from "../assets/images/jeger9.jpeg";
---

<section class="jeg-er full-bleed">
  <div class="jeg_er_content full-bleed">
    <div class="jeg-er-inner">
      <h3>jeg er..</h3>
      <p>
        Katinka Alberte Stürup-Pedersen. Jeg er 23 år, bor på Vesterbro med 3
        romies, og min yndlingsfavre er lysserød.
      </p>
    </div>
  </div>
  <div class="content">
    <div class="jeg-er-tre-ting">
      <div class="kreativ evner">
        <h4>kreativ</h4>
        <p>Altid i gang med tusind projekter.</p>
      </div>
      <div class="Dedikeret evner">
        <h4>Dedikeret</h4>
        <p>Jeg er typen, der går all in.</p>
      </div>
      <div class="aben evner">
        <h4>Åben</h4>
        <p>
          Der er ikke noget, jeg ikke kan – jeg har bare ikke lært det endnu.
        </p>
      </div>
    </div>
    <div class="grid-img">
      <div class="grid-inner">
        <Image width="340" src={Jegeronee} alt="/" />
        <Image width="340" src={Jeger2} alt="/" />
        <Image width="340" src={Jeger3} alt="/" />
        <Image width="340" src={Jeger9} alt="/" />
      </div>
      <!-- <Image src={Jeger4} alt="/" /> -->
      <div class="grid-inner">
        <Image width="340" src={Jeger5} alt="/" />
        <Image width="340" src={Jeger6} alt="/" />
        <Image width="340" src={Jeger7} alt="/" />
        <Image width="340" src={Jeger8} alt="/" />
      </div>
    </div>
  </div>
</section>

<style>
  .jeg-er-inner {
    grid-column: content;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    place-self: center;
    align-items: center;
    gap: 1rem;
    p {
      /* max-width: 400px; */
      padding: 0rem 2rem;
    }
  }
  .jeg_er_content {
    background-color: var(--farve-5);
    color: var(--sort);

    /* justify-self:; */
    /* h3 {
      grid-column: 1;
    } */
    h3 {
      /* color: var(--hvid); */
    }
  }
  .jeg-er {
    /* padding: 3rem; */
  }
  section {
    background: var(--farve-6);
  }
  .content {
    background-color: var(--farve-6);
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    /* padding: 0 100px; */
  }

  .evner {
    position: sticky;
    top: 40%;
    background-color: var(--farve-6);
  }
  .jeg-er-tre-ting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3rem;
  }

  .grid-inner {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 1rem;
  }
  .grid-img {
    padding: 3rem 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-content: center;
  }

  p {
    text-wrap: balance;
  }

  @media (min-width: 600px) {
    .top {
      /* margin-top: 9.25rem; */
      display: flex;
      justify-content: center;
    }
  }
</style>
